* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

header { 
    background-color: black
    width: 700px;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color: #C12CDA;
    text-align: left;
    padding-left: 40px;


}
nav {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 30px;
    padding: 10px;
    background-color: black; 
}

nav div {
     background-image: linear-gradient(lightpink, #C12CDA);
     border-radius: 20px;
     background-color: black;
     padding-top: 6px;
     padding-bottom: 6px;
 }
nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
}

hr {
    border-color: #C12CDA;
    border-width: 2px;

}
main {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;

}

main div {
    background-color: black;
    margin-left: 10px;
}

main div img {
    width: 100%;
}

#lastd {
    margin-right: 5px;
}
p {
    color:white ;
}

h2 {
color: #C12CDA;
font-family: 'Montserrat', sans-serif;
font-size: 50px;
padding-left: 40px;
}

footer {
    background-color: black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    font-size: 1em;
    text-align: left;
    color: white;
    padding-left: 40px;
    
}

p {
padding-left: 40px; 
padding-right: 40px; 
}

iframe {
    margin: 0 auto;
    display: block;
}
